<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hacking with Spring Boot - Getting Started</title>
</head>
<body>
    <h1>Welcome to Hacking with Spring Boot!</h1>

    <table>
        <th>Id</th><th>Name</th><th>Role</th>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
            <td><a th:href="@{'/delete/' + ${employee.id}}" th:method="delete">Delete</a></td>
        </tr>
    </table>

    <form method="post" action="/">
        <input name="name" type="text" />
        <input name="role" type="text" />
        <input type="submit" />
    </form>

</body>
</html>